.container{
    display: flex;
    flex:auto;
}
.mainBox{
    margin:auto;
    display:flex;
    background-color: antiquewhite;
    margin-top:2%;
    height:800px;
    width:80%;
    flex-direction: column;
    border-radius: 5%;
}
.content{
    margin:10%;
    font-size:larger;
}